Babel
decorator
docutils
ebaysdk
feedparser
gevent
greenlet
html2text
Jinja2
lxml
Mako
MarkupSafe
mock
num2words
ofxparse
passlib
Pillow
psutil
psycopg2
pydot
# pyldap  # seems not compatible with py3
pyparsing
PyPDF2
pyserial
python-dateutil
pytz
pyusb
PyYAML
qrcode
reportlab
requests
six
suds-jurko
vatnumber
vobject
Werkzeug
XlsxWriter
xlwt
xlrd

simplejson
genshi
ipdb
